/* место для вашего кода */
@font-face {
  font-family: "Raleway-Bold";
  src: url("Raleway-Bold.woff2") format("woff2"),
    url("Raleway-Bold.woff") format("woff");
}
body {
  font-family: "Raleway-Bold", sans-serif;
}

header {
  display: flex;
  width: 1100px;
  height: 293px;
  border: 1px solid black;
}
.header__menu {
  width: 391.48px;
  height: 22px;
  display: grid;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.header-list {
  display: flex;
  width: 391.48px;
  height: 22px;
  align-content: center;
  justify-content: center;
  column-gap: 25px;
  list-style-type: circle;
}

li {
  font-size: 18px;
  text-decoration: underline;
  text-underline-offset: 3px;
}
a {
  display: flex;
  z-index: 1;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.logo-black {
  width: 148px;
  height: 105px;
  padding: 0 60px;
}

address {
  display: grid;
  width: 240px;
  margin-left: 100px;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  list-style-type: none;
  font-size: 18px;
}
