/* место для вашего кода */
@font-face {
  font-family: "Raleway-Bold";
  src: url("Raleway-Bold.woff2") format("woff2"),
    url("Raleway-Bold.woff") format("woff");
}
body {
  font-family: "Raleway-Bold", sans-serif;
  width: 1100px;
  height: 3028px;
}

header {
  display: flex;
  width: 1100px;
  height: 293px;
}
.header__menu {
  width: 391.48px;
  height: 22px;
  display: grid;
  align-content: center;
  justify-content: center;
  align-self: center;
}

.header-list {
  display: flex;
  width: 391.48px;
  height: 22px;
  align-content: center;
  justify-content: center;
  column-gap: 25px;
  list-style-type: circle;
}

.header__links-list_1 {
  font-size: 18px;
  color: black;
  text-decoration: none;
  display: flex;
  z-index: 1;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}
.header__links-list {
  font-size: 18px;
  color: black;
  display: flex;
  z-index: 1;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  text-underline-offset: 4px;
}

.header__links-list-item {
  display: flex;
  z-index: 1;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
}

.logo-black {
  width: 148px;
  height: 105px;
  padding: 0 60px;
}

.header__address {
  display: grid;
  width: 240px;
  margin-left: 100px;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;
  list-style-type: none;
  font-size: 18px;
}

.address__links {
  color: black;
  font-size: 18px;
}

.cover {
  display: grid;
  width: 1100px;
  height: 757px;
}
.cover_item {
  position: absolute;
  z-index: -1;
  width: 1100px;
  height: 757px;
}
.overlay {
  position: absolute;
  z-index: -1;
  background-color: rgba(0, 0, 0, 0.603);
  width: 1100px;
  height: 757px;
}
.cover__title {
  width: 1000px;
  height: 385px;
  margin: 0 auto;
  color: white;
}
.aligned-text {
  font-size: 100px;
  justify-self: start;
  gap: 100px 100px;
  letter-spacing: 25px;
}
.aligned-text_center {
  justify-self: center;
  font-size: 100px;
  letter-spacing: 25px;
}

.aligned-text_right {
  justify-self: right;
  font-size: 100px;
  letter-spacing: 25px;
}

.cover__description {
  position: relative;
  display: flex;
  width: 1000px;
  height: 51px;
  color: white;
  margin: 0 auto;
  top: 115px;
  font-size: 20px;
  column-gap: 160px;
}
.cover__description-text {
  word-spacing: 20px;
}

.bet-button {
  font-size: 20px;
  padding: 10px 30px;
  background: none;
  color: white;
  border: 1px solid white;
  cursor: pointer;
}
